<launch>
  <arg name="angular" default="0.5" />
  <arg name="linear" default="1.0" />

  <!--- Teleop Joystick -->
  <node pkg="mdc2250" type="teleop_joy" name="teleop_joy">
    <param name="scale_angular" value="$(arg angular)"/>
    <param name="scale_linear" value="$(arg linear)"/>
    <param name="axis_deadman" value="-1"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick" >
    <param name="autorepeat_rate" value="50" />
  </node>

  <include file="$(find mdc2250)/launch/quad.launch" />

</launch>
