.*project
.DS_Store
*.coverage
*.egg-info
*.log
*.swp
*.pyc
*.pyo
*.zip
*/files/*
*/tmp/*
*.hwm*
*.cfg
*.out
.svn
build
bin
lib
cpp
*/lib/*
installed
patched
wiped
msg_gen
srv_gen
cmake_install.cmake
.project
.pydevproject
.cproject
bin
src/mdc2250
../mdc2250/cmake_install.cmake
../serial/cmake_install.cmake
../serial_utils/cmake_install.cmake
